@import "../../../variables.css";

body::-webkit-scrollbar {
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #1e1e3a;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #5a67d8;
  border-radius: 8px;
  border: 2px solid #2c2c54;
}

body::-webkit-scrollbar-thumb:hover {
  background: #434190;
}

.expenseItem {
  display: flex;
  align-items: center;
  background-color: var(--background-color-section);
  padding: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.categoryCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
}

.expenseField {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 20%;
  text-align: left !important;
  margin: 0;
  color: var(--color-text-highlighted);
}

.expenseName {
  color: var(--color-text-highlighted);
  margin: 0;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  gap: 10px;
}

.editButton,
.removeButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
  color: var(--color-text);
}

.editButton {
  background-color: var(--color-button-select-multiple);
}

.editButton:hover {
  background-color: var(--color-button-select-multiple-hover);
}

.removeButton {
  background-color: var(--color-button-remove);
}

.removeButton:hover {
  background-color: var(--color-button-remove-hover);
}

.expenseItemSmall {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--background-color-section);
  padding: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}

.categoryCircleSmall {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin: 0px 20px 0 10px;
}

.expenseFieldSmall {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left !important;
  margin: 0;
  color: var(--color-text-highlighted);
}

.expenseNameSmall {
  color: var(--color-text-highlighted);
  margin: 0;
}

.actionContainerSmall {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  gap: 10px;
}

.removeButtonSmall {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
  color: var(--color-text);
  background-color: var(--color-button-remove);
}

.removeButtonSmall:hover {
  background-color: var(--color-button-remove-hover);
}
