.categoryDropdown {
  margin-bottom: 14px;
  width: 100%;
}

.formLabel {
  color: white !important;
  font-size: 16px !important;
  margin-top: 3px !important;
}

.outlinedInputRoot {
  background-color: #1e1e3a;
  color: #ffffff !important;
  height: 48px; /* Ensure uniform height for all inputs */
  border: 1px solid #444;
}

.MuiSvgIcon-root {
  color: #ffffff !important;
}

.MuiMenuItem-root {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #ffffff;
}

.MuiMenuItem-root:hover {
  background-color: #333366;
}

.MuiCheckbox-root,
.MuiRadio-root {
  padding: 0 12px 0 0;
  color: inherit !important;
}

.Mui-checked {
  color: inherit !important;
}
