@import "../../../variables.css";

.categoryDropdown {
  margin-bottom: 14px;
  width: 100%;
}

.formLabel {
  color: var(--color-text) !important;
  font-size: 16px !important;
}

.outlinedInputRoot {
  background-color: transparent;
  color: var(--color-text) !important;
  height: 48px;
  margin-top: 3px !important;
  border: 1px solid var(--background-color-select) !important;
}

.MuiSvgIcon-root {
  color: var(--color-text) !important;
}

.MuiMenuItem-root {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-text);
}

.MuiMenuItem-root:hover {
  background-color: var(--background-color-select-hover);
}

.MuiCheckbox-root,
.MuiRadio-root {
  padding: 0 12px 0 0;
  color: inherit !important;
}

.Mui-checked {
  color: inherit !important;
}
