@import "../../../variables.css";

.MuiDialog-root .MuiPaper-root {
  background: transparent !important;
}

.modalContent {
  background-color: var(--background-color-section);
  color: var(--color-text);
  position: relative;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.closeButton {
  color: var(--color-button-select-multiple);
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--color-button-select-multiple-hover);
}
