@import "../../../variables.css";

.budgetChartContainer {
  background-color: var(--background-color-section);
  color: var(--color-text);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow-x: auto;
  position: relative;
}

.budgetChartContainer div {
  width: 100%;
}

.budgetChartContainer path {
  stroke: none !important;
}

.budgetChartContainer svg {
  width: 100% !important;
}
