@import "../../../variables.css";

.totalExpenses {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-section);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: 100%;
  position: relative;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-select);
  border: 1px solid var(--background-color-select);
  padding: 10px;
  border-radius: 4px 4px 0 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tableHeader > div {
  width: 20%;
  display: flex;
  align-items: center;
}

.tableHeader svg {
  margin-left: 5px !important;
  padding: 0 !important;
}

.tableField {
  display: flex;
  align-items: center;
  color: var(--color-text);
  text-align: left;
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.rightSection > p {
  display: inline;
  text-align: right;
}

.expensesList {
  flex: 1;
  padding-top: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50px;
  max-height: 500px;
  position: relative;
}

.expensesList::after {
  content: "";
  width: 10px;
  flex-shrink: 0;
}

.expensesList::-webkit-scrollbar {
  width: 10px;
}

.expensesList::-webkit-scrollbar-track {
  background: var(--background-color-select);
  border-radius: 8px;
}

.expensesList::-webkit-scrollbar-thumb {
  background: var(--color-button-select-multiple);
  border-radius: 8px;
  border: 2px solid var(--background-color-section);
}

.editBudgetButton,
.addExpenseButton {
  background-color: var(--color-button-select-multiple);
  color: var(--color-text);
  border: none;
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.editBudgetButton:hover,
.addExpenseButton:hover {
  background-color: var(--color-button-select-multiple-hover);
}

.activeSortIcon {
  color: var(--color-text-highlighted) !important;
}

.iconButton {
  color: var(--color-text);
}

.iconButton:hover {
  color: var(--color-text-highlighted);
}
