@import "../../../variables.css";

.formContainer {
  background-color: var(--background-color-section);
  width: 100%;
  max-width: 300px;
  color: var(--color-text);
  padding: 20px;
}

.formHeader {
  color: var(--color-text-highlighted);
  margin-bottom: 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.formControl {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: var(--color-button-select-multiple);
  color: var(--color-text);
  border: none;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--color-button-select-multiple-hover);
}
