.legend {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  width: 300px !important;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-label {
  color: #ffffff;
  font-size: 14px;
}
