@import "../../../variables.css";

.priceRangeFilter {
  display: flex;
  flex-direction: column;
}

.priceRangeFilter .MuiFormControl-root:last-of-type {
  margin-bottom: 0;
}

.priceRangeFilter label {
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 14px;
  color: var(--color-text) !important;
}

.priceRangeFilter .MuiTextField-root {
  width: 100%;
  margin-bottom: 14px;
}

.priceRangeFilter .MuiFormLabel-root {
  font-size: 16px !important;
  color: var(--color-text) !important;
}

.priceRangeFilter .MuiInputBase-input::placeholder {
  color: var(--color-text);
}

.priceRangeFilter .MuiOutlinedInput-root {
  background-color: transparent;
  color: var(--color-text) !important;
  height: 48px;
  margin-top: 3px !important;
  border: 1px solid var(--background-color-select);
}

.priceRangeFilter .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
