@import "../../../variables.css";

.MuiInputBase-root {
  margin: 7px 0 !important;
  border: 1px solid var(--background-color-select);
}

.MuiOutlinedInput-root {
  background-color: transparent;
  color: var(--color-text) !important;
  height: 48px;
  margin-top: 3px !important;
}

.MuiInputBase-input {
  color: var(--color-text);
}

.MuiFormLabel-root {
  color: var(--color-text) !important;
  font-size: 16px !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.inputText .MuiSvgIcon-root,
.MuiInputBase-root .MuiSvgIcon-root {
  color: var(--color-text) !important;
}
