@import "../../../variables.css";

.budgetTracker {
  background-color: var(--background-color-section);
  color: var(--color-text);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow-x: auto;
}

.budgetTracker::-webkit-scrollbar {
  height: 10px;
}

.budgetTracker::-webkit-scrollbar-track {
  background: var(--background-color-select);
  border-radius: 8px;
}

.budgetTracker::-webkit-scrollbar-thumb {
  background: var(--color-button-select-multiple);
  border-radius: 8px;
  border: 2px solid var(--background-color-section);
}

.budgetTracker::-webkit-scrollbar-thumb:hover {
  background: var(--color-button-select-multiple-hover);
}

.budgetTracker h2 {
  text-align: center;
  color: var(--color-text-highlighted);
  margin-bottom: 20px;
}

.budgetOverview {
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 20px;
}

.budgetOverview.highlight .budgetCategory:not(.hovered) .budgetBar {
  opacity: 0.3;
}

.budgetCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25%;
}

.budgetBar {
  width: 30px;
  margin-top: 40px;
  height: 260px;
  display: flex;
  flex-direction: column-reverse;
  background-color: #3e3e7e;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: opacity 0.3s ease;
}

.usedBar {
  background-color: var(--color-button-select-multiple);
  transition: height 0.3s ease;
}

.remainingBar {
  background-color: #d5d5ef;
  transition: height 0.3s ease;
}

.categoryLabel {
  margin-top: 10px;
  color: var(--color-text-highlighted);
  font-size: 14px;
  text-align: center;
}

.tooltip {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #333;
  padding: 10px;
  box-shadow: var(--box-shadow);
  z-index: 10000;
  white-space: nowrap;
}
