@import "../../../variables.css";

.dateRangeFilter {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.formControl {
  margin-bottom: 14px;
}

.inputLabel {
  color: var(--color-text) !important;
  font-size: 16px !important;
}

.outlinedInputRoot {
  background-color: transparent;
  color: var(--color-text) !important;
  height: 48px;
}

.MuiSvgIcon-root {
  color: var(--color-text) !important;
}

.MuiMenuItem-root {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-text);
}

.MuiMenuItem-root:hover {
  background-color: var(--background-color-select-hover);
}

.MuiFormControl-root:last-of-type {
  margin-bottom: 0;
}

.dateRangeFilter .MuiInputBase-input::placeholder {
  color: var(--color-text);
}

.dateRangeFilter .MuiOutlinedInput-notchedOutline {
  border-color: var(--border-color) !important;
}
