.date-range-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.formControl {
  margin-bottom: 14px;
}

.inputLabel {
  color: white !important;
  font-size: 16px !important;
  margin-top: 3px !important;
}

.outlinedInputRoot {
  background-color: #1e1e3a;
  color: #ffffff !important;
  height: 48px;
  border: 1px solid #444;
}

.MuiSvgIcon-root {
  color: #ffffff !important;
}

.MuiMenuItem-root {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #ffffff;
}

.MuiMenuItem-root:hover {
  background-color: #333366;
}

.MuiFormControl-root:last-of-type {
  margin-bottom: 0;
}

.date-range-filter .MuiInputBase-input::placeholder {
  color: white;
}

.date-range-filter .MuiOutlinedInput-notchedOutline {
  border-color: #444 !important;
}
